<!-- followersPage -->
<div data-region="followers-alert-region"></div>
<div data-region="followers-collection-region"></div>
<div class="loader loader-static animated fadeIn" data-loader="initial">
  <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
</div>
<div class="loader loader-static collapse" data-loader="lazy">
  <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
</div>