<!-- followersCollectionItemButton -->
{{#if helpers.app_user_on_own_page}}
  {{#if helpers.app_user_following}}
  <form data-event="unfollow">
    <fieldset>
        <button class="btn btn-warning btn-sm" data-event="hoverfollowing"><span>Following</span><span class="xhr">…</span></button>
    </fieldset>
  </form>
  {{else}}
  <form data-event="follow">
    <fieldset>
        <button class="btn btn-default btn-sm"><span>Follow</span><span class="xhr">…</span></button>
    </fieldset>
  </form>
  {{/if}}
{{else}}
  <button class="btn btn-sm btn-default" data-event="user">View User</button>
{{/if}}