<!-- followingCollectionItem -->
<div class="animated fadeIn panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="/{{id}}/posts" data-event="user"><img class="media-object img-circle profile animated zoomIn" width="48" height="48" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading media-profile"><a href="/{{id}}/posts" class="disguised" data-event="user">{{full_name}}</a></h4>
        <p class="text-muted text-uppercase"><small>Physician</small></p>
        {{#if helpers.app_user_on_own_page}}
          <form data-event="unfollow">
            <fieldset>
                <button class="btn btn-warning btn-sm" data-event="hoverfollowing"><span>Following</span><span class="xhr">…</span></button>
            </fieldset>
          </form>
        {{else}}
          <button class="btn btn-sm btn-default" data-event="user">View User</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>