<!-- feedPollingAlert -->
<div class="alert alert-warning{{#unless helpers.is_rendered}} collapse{{/unless}}" role="alert">
{{#unless helpers.is_new_posts_plural}}A{{/unless}} {{#unless helpers.is_new_posts_plural}}n{{else}}N{{/unless}}ew post{{#if helpers.is_new_posts_plural}}s{{/if}} {{#unless helpers.is_new_posts_plural}}is{{else}}are{{/unless}} available. <a href="/" data-event="feeds" class="alert-link">View {{helpers.new_posts}} new post{{#if helpers.is_new_posts_plural}}s{{/if}}.</a>
</div>