<!-- feedPage -->
<div class="row">
  <div class="col-md-12 col-lg-8">
    <div data-region="share-post-region"></div>
    <div data-region="feed-alert-region"></div>
    <div data-region="feed-polling-alert-region"></div>
    <div data-region="feed-collection-region"></div>
    <div class="loader loader-fixed animated fadeIn" data-loader="initial">
      <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
    </div>
    <div class="loader loader-static collapse" data-loader="lazy">
      <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
    </div>
  </div>
  <div class="visible-lg col-lg-4">
    <div data-region="who-to-follow-region"></div>
  </div>
</div>