<!-- whoToFollowItem -->
<div class="media">
  <div class="media-left">
      <a href="/{{id}}/posts" data-event="user"><img class="media-object img-circle profile animated zoomIn" width="48" height="48" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'"></a>
  </div>
  <div class="media-body">
    <button type="button" class="close pull-right" aria-label="Close" data-event="dismiss"><span aria-hidden="true">&times;</span></button>
    <h4 class="media-heading media-profile"><a href="/{{id}}/posts" class="disguised" data-event="user">{{full_name}}</a></h4>
    <p class="text-muted text-uppercase"><small>Physician</small></p>
    <form data-event="follow">
        <fieldset>
            <button class="btn btn-default btn-sm">Follow<span class="xhr">ing&hellip;</xhr></button>
        </fieldset>
    </form>
  </div>
</div>