<!-- whoToFollow -->
<div class="animated fadeIn">
  <div class="panel panel-default">
    <div class="panel-blank-heading">
      <h3 class="panel-title">Who to Follow</h3>
    </div>
    <div class="panel-body child-view"></div>
  </div>
</div>