<!-- openGraphCollectionItem -->
<div class="og animated fadeIn">
    <div class="og-type" data-og-type="{{data.ogType}}">
        <div class="og-topper">
            <button type="button" class="close" aria-label="Close" data-event="topper" data-toggle="tooltip" data-placement="top" title="Remove link preview"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="og-image">
            <img src="{{data.ogImage.url}}" />
        </div>
        <div class="og-data">
            <h3 class="og-title">{{data.ogTitle}}</h3>
            <p class="og-sitename text-muted text-uppercase"><small>{{data.ogSiteName}}</small></p>
            <p class="og-description">{{data.ogDescription}}</p>
        </div>
    </div>
</div>