<!-- postCollectionItemEdit -->
<div class="panel panel-default animated fadeIn">
  <div class="panel-body">
      <div class="media">
        <div class="media-left">
            <img class="media-object img-circle profile animated zoomIn" width="48" height="48" src="/assets/images/{{user.id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" >
        </div>
        <div class="media-body">
          <div data-region="post-edit-alert-region"></div>
          <form data-event="update">
            <fieldset>
              <div class="form-group">
                <label for="title" class="sr-only control-label">Title</label>
                <input type="text" data-event="title" class="form-control" id="title" name="title" placeholder="What's on your mind?" autocomplete="off" value="{{title}}">
              </div>
              <div class="form-group">
                <label for="content" class="sr-only control-label">Content</label>
                <textarea id="content" autocomplete="off" class="form-control" name="content" rows="3" placeholder="Tell us more&#133;" data-event="url">{{{content}}}</textarea>
              </div>
              <div class="loader loader-absolute collapse" data-loader="og">
                <img src="/assets/images/loading-f5f5f5.gif" width="42" height="14" alt="loading indicator" />
              </div>
              <div data-region="open-graph-region"></div>
              <button type="submit" class="btn btn-warning pull-right">Save<span class="xhr">&hellip;</span></button>
              <button type="button" data-event="cancel" class="btn btn-default pull-right">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>