<!-- postsCollectionItemRead -->
<div class="animated fadeIn">
  <div itemid="{{helpers.app_href}}{{user.id}}/posts/{{id}}" itemscope itemtype="http://schema.org/SocialMediaPosting" class="panel panel-default">
      {{#if helpers.app_user_is_author}}
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="uniphy-2 uniphy-2-down"></i></a>
            <div class="dropdown-menu dropdown-menu-right pad-all min-width-200" aria-labelledby="dropdownMenu1">
                <a href="#" class="action" data-event="edit">
                  <i class="uniphy-2 uniphy-2-pencil"></i>
                  <span>Edit</span>
                  <small>Edit this Post</small>
                </a>
                <a href="#" class="action" data-event="delete">
                  <i class="uniphy-2 uniphy-2-trash"></i>
                  <span>Delete</span>
                  <small>Delete this Post</small>
                </a>
            </div>
        </div>
      {{/if}}
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
            <a href="/{{user.id}}/posts" data-event="user"><img class="media-object img-circle profile animated zoomIn" width="48" height="48" src="/assets/images/{{user.id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading media-profile">{{title}}</h4>
          <p class="text-muted text-uppercase"><small>by <strong><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a itemprop="url" href="/{{user.id}}/posts" class="disguised" data-event="user">{{user.full_name}}</a></span></span></strong> on {{helpers.created_date}}<meta itemprop="datePublished" content="{{helpers.meta_date_published}}" />{{#if content_group}} in {{content_group.name}}{{/if}}</small></p>
          <div itemprop="articleBody" data-target="content">{{{helpers.content}}}</div>
        </div>
      </div>
    </div>
    {{#if open_graph_data}}
    <div itemprop="sharedContent" itemscope itemtype="http://schema.org/WebPage">
      <a class="og" itemprop="url" href="{{open_graph_data.ogUrl}}" target="_blank">
        <div class="og-type" data-og-type="{{open_graph_data.ogType}}">
            <div class="og-image">
                <div class="og-placeholder og-placeholder-lg"></div>
            </div>
            <div class="og-data">
                <h3 class="og-title" itemprop="headline">{{open_graph_data.ogTitle}}</h3>
                <p class="og-sitename text-muted text-uppercase"><small>{{open_graph_data.ogSiteName}}</small></p>
                <p class="og-description" itemprop="description">{{open_graph_data.ogDescription}}</p>
            </div>
        </div>
      </a>
    </div>
    {{/if}}
  </div>
</div>