<!-- userPage -->
<div class="row">
  <div class="col-md-12 col-lg-8">
    <div data-region="user-alert-region"></div>
    <div data-region="user-header-region"></div>
    <div data-region="user-page-region"></div>
  </div>
  <div class="visible-lg col-lg-4">
    <div data-region="who-to-follow-region"></div>
  </div>
</div>