<!-- userHeader -->
<div class="animated fadeIn clearfix">
  <div class="panel panel-dark">
    <div class="panel-body">
      <div class="media media-profile media-profile-drop media-centered col-md-6">
        <div class="media-left">
            <img width="80" height="80" class="img-circle profile animated zoomIn" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" />
        </div>
        <div class="media-body">
          <h3 class="media-heading media-profile">{{full_name}}</h3>
          <p class="text-muted text-uppercase"><small>Physician</small></p>
          {{#if helpers.app_user_is_page_user}}
          <form data-event="follow">
              <fieldset>
                  <button class="btn btn-default btn-sm">Follow<span class="xhr">ing&hellip;</xhr></button>
              </fieldset>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="panel-footer panel-footer-light">
      <ul class="nav nav-pills">
        <li role="presentation" {{#if helpers.is_route_posts}} class="active"{{/if}}><a href="/{{id}}/posts" aria-controls="posts" role="tab" data-toggle="tab" data-event="poststab">Posts</a></li>
        <li role="presentation" {{#if helpers.is_route_followers}} class="active"{{/if}}><a href="/{{id}}/followers" aria-controls="followers" role="tab" data-toggle="tab" data-event="followerstab">Followers</a></li>
        <li role="presentation" {{#if helpers.is_route_following}} class="active"{{/if}}><a href="/{{id}}/following" aria-controls="following" role="tab" data-toggle="tab" data-event="followingtab">Following</a></li>
        <li role="presentation" {{#if helpers.is_route_groups_following}} class="active"{{/if}}><a href="/{{id}}/groups" aria-controls="groups" role="tab" data-toggle="tab" data-event="groupsfollowingtab">Groups</a></li>
      </ul>
    </div>
  </div>
</div>