<!-- admin -->
<nav class="navbar navbar-default navbar-fixed-top animated fadeIn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" data-event="home"><img src="/assets/images/logo.svg" width="30" height="30" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="40" height="40" class="img-circle profile animated zoomIn" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" /></a>
          <ul class="dropdown-menu">
            <li><a data-event="feed" a href="">Return to Engagement</a></li>
            <li><a data-event="signout" a href="">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li data-nav="users"><a href="/admin/users" data-event="users"><i class="uniphy-2 uniphy-2-users"></i> Users</a></li>
        <li data-nav="posts"><a href="/admin/posts" data-event="posts"><i class="uniphy-2 uniphy-2-bubble"></i> Posts</a></li>
    </ul>
    <small>&copy; 2016 Uniphy Health, LLC.<br/>All rights reserved.</small>
</div>
<div class="admin-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="page">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-header" aria-hidden="true"></div>