<!-- login -->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="page">
      <div class="animated fadeIn">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <img src="/assets/images/logo.svg" width="30" height="30" />
            </div>
            <div data-region="login-alert-region"></div>
            <form data-event="login">
              <fieldset>
                <div class="form-group">
                  <label for="id" class="sr-only">Username</label>
                  <select class="form-control input-lg" id="id" name="id" autocomplete="off">
                    <option value="1">Roger Clyne</option>
                    <option value="2">Joe Hendrickson</option>
                    <option value="3">Melissa Crabtree</option>
                    <option value="4">Dean Stockbridge</option>
                    <option value="5">Jenna Hawthorne</option>
                    <option value="6">Justin Jennissen</option>
                    <option value="7">Nate Armagost</option>
                    <option value="8">Pablo Caviglia</option>
                    <option value="9">Brent Kastner</option>
                    <option value="10">Oliver Lederer</option>
                    <option value="11">Pablo Caviglia 2</option>
                    <option value="12">Carl Sagan 1</option>
                    <option value="13">Carl Sagan 2</option>
                    <option value="14">Carl Sagan 3</option>
                    <option value="15">Simon Pheonix</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning pull-right">Sign In<span class="xhr">&hellip;</span></button>
              </fieldset>
            </form>
          </div>
        </div>
        <small class="text-muted pull-left">&copy; 2016 Uniphy Health, LLC. <br class="visible-xs" />All rights reserved.</small><small class="text-muted pull-right">vPKG_VERSION-BUILD_NUM</small>
      </div>
    </div>
  </div>
</div>