<!-- main -->
<nav class="navbar navbar-default navbar-fixed-top animated fadeIn">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" data-event="home"><img src="/assets/images/logo.svg" width="30" height="30" /></a>
    <ul class="nav navbar-nav hidden-sm hidden-xs">
      <li data-listen="navigation"{{#if helpers.current_page_is_home}} class="active"{{/if}}><a href="/" data-event="home">Home</a></li>
      <li data-listen="navigation"{{#if helpers.current_page_is_groups}} class="active"{{/if}}><a href="/groups" data-event="groups">Groups</a></li>
      <li data-listen="navigation"{{#if helpers.current_page_is_headlines}} class="active"{{/if}}><a href="/headlines" data-event="headlines">Headlines</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
      <li class="dropdown">
        <a href="/" class="dropdown-toggle navbar-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="40" height="40" class="img-circle profile animated zoomIn" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" /></a>
        <ul class="dropdown-menu">
          <li><a data-event="signout" href="/">Sign Out</a></li>
          <!-- <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li> -->
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
      <div class="input-group">
        <input id="q" name="q" type="text" class="form-control" placeholder="Search&hellip;" value="{{helpers.search_text}}" autocomplete="off" data-listen="search" />
        <span class="input-group-btn">
          <button class="btn btn-warning" type="submit"><i class="uniphy-2 uniphy-2-search"></i></button>
        </span>
      </div>
    </form>
    <button type="button" class="btn-link navbar-toggle hidden-lg hidden-md" data-toggle="slide" aria-expanded="false" aria-controls="sidebar">
      <span class="sr-only">Toggle navigation sidebar</span>
      <i class="uniphy-2 uniphy-2-menu"></i>
    </button>
  </div>
</nav>
<div class="nav-slide">
  <a href="/{{id}}/posts" class="disguised" data-event="user"><img width="80" height="80" class="img-circle profile animated zoomIn center-block" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" /></a>
  <h3 class="profile text-center"><a href="/{{id}}/posts" class="disguised" data-event="user">{{full_name}}</a></h3>
  <p class="text-muted text-uppercase text-center"><small>Physician</small></p>
  <ul data-event="slide">
    <li data-listen="navigation"{{#if helpers.current_page_is_home}} class="active"{{/if}}><a href="/" data-event="home"><i class="uniphy-2 uniphy-2-home"></i> Home</a></li>
    <li data-listen="navigation"{{#if helpers.current_page_is_groups}} class="active"{{/if}}><a href="/groups" data-event="groups"><i class="uniphy-2 uniphy-2-users"></i> Groups</a></li>
    <li data-listen="navigation"{{#if helpers.current_page_is_headlines}} class="active"{{/if}}><a href="/headlines" data-event="headlines"><i class="uniphy-2 uniphy-2-megaphone"></i> Headlines</a></li>
  </ul>
  <br/>
  <a class="big-icon center-block" data-event="signout" href="/"><i class="uniphy-2 uniphy-2-power"></i><span>Sign Out</span></a>
  <small class="nav-slide-footer">© 2016 Uniphy Health, LLC. <br/>All rights reserved.</small>
</div>
<div class="page container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-3 col-lg-offset-0 col-lg-3 hidden-sm hidden-xs">
      <div class="animated fadeIn">
        <div class="panel panel-default">
          <div class="panel-profile">
            <div class="panel-profile-background">
              <img src="/assets/images/hospital.jpg" />
            </div>
            <div class="panel-body">
              <div class="media media-profile media-profile-rise">
                <div class="media-left">
                    <a href="/{{id}}/posts" class="disguised" data-event="user"><img width="80" height="80" class="img-circle profile animated zoomIn" src="/assets/images/{{id}}.png" alt="" onerror="this.onerror=null;this.src='/assets/images/avatar.png'" /></a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading media-profile"><a href="/{{id}}/posts" class="disguised" data-event="user">{{full_name}}</a></h3>
                    <p class="text-muted text-uppercase"><small>Physician</small></p>
                </div>
              </div>
              <div class="collapse" data-region="sidebar-stats-region"></div>
            </div>
          </div>
        </div>
        <div class="well well-sm"><small class="text-muted">&copy; 2016 Uniphy Health, LLC. All rights reserved.</small></div>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-0 col-lg-9 col-sm-8 col-sm-offset-2" data-region="page-region"></div>
  </div>
</div>
<div class="modal fade" id="modal" data-region="modal-region" tabindex="-1" role="dialog" aria-labelledby="modal-header" aria-hidden="true"></div>