// Uniphy card layout (Uses modernizr to detect css column support)
.csscolumns .cards {

  // May need to refactor the name (2, 3) really show less columns on small screens
  &.cards-cols-xs-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  &.cards-cols-xs-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  @media (min-width: @screen-sm-min) {

    &.cards-cols-sm-1 {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }

    &.cards-cols-sm-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }

  }

  @media (min-width: @screen-md-min) {

    &.cards-cols-md-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }

    &.cards-cols-md-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }

  }

  @media (min-width: @screen-lg-min) {
    &.cards-cols-lg-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }

    &.cards-cols-lg-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  -webkit-column-gap: @grid-gutter-width;
  -moz-column-gap: @grid-gutter-width;
  column-gap: @grid-gutter-width;

  .card {
    display: inline-block;
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

}