//
// used by emojify.js
// --------------------------------------------------

.emoji {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}
.dropdown-menu {
  .emoji {
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  .textcomplete-item a {
    cursor: pointer;
  }
}