@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('/assets/fonts/ProximaNova-Reg-webfont.eot');
    src: url('/assets/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('/assets/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('/assets/fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('/assets/fonts/ProximaNova-Light-webfont.eot');
    src: url('/assets/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ProximaNova-Light-webfont.woff') format('woff'),
         url('/assets/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('/assets/fonts/ProximaNova-Sbold-webfont.eot');
    src: url('/assets/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('/assets/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('/assets/fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/assets/fonts/ProximaNova-Bold-webfont.eot');
    src: url('/assets/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uniphy-2';
    src:url('/assets/fonts/uniphy-2.eot?8k6sps');
    src:url('/assets/fonts/uniphy-2.eot?8k6sps#iefix') format('embedded-opentype'),
        url('/assets/fonts/uniphy-2.ttf?8k6sps') format('truetype'),
        url('/assets/fonts/uniphy-2.woff?8k6sps') format('woff'),
        url('/assets/fonts/uniphy-2.svg?8k6sps#uniphy-2') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Begin Uniphy
[class^="uniphy-2-"], [class*=" uniphy-2-"] {
    font-family: 'uniphy-2';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uniphy-2-power:before {
    content: "\e90a";
}
.uniphy-2-industry:before {
    content: "\e909";
}
.uniphy-2-circle-off:before {
    content: "\e906";
}
.uniphy-2-warning:before {
    content: "\e907";
}
.uniphy-2-close:before {
    content: "\e908";
}
.uniphy-2-check:before {
    content: "\e900";
}
.uniphy-2-archive:before {
    content: "\e901";
}
.uniphy-2-mail:before {
    content: "\e902";
}
.uniphy-2-home:before {
    content: "\e903";
}
.uniphy-2-phone:before {
    content: "\e904";
}
.uniphy-2-location:before {
    content: "\e905";
}
.uniphy-2-pager:before {
    content: "\e800";
}
.uniphy-2-down:before {
    content: "\e62d";
}
.uniphy-2-up:before {
    content: "\e62e";
}
.uniphy-2-right:before {
    content: "\e62f";
}
.uniphy-2-left:before {
    content: "\e630";
}
.uniphy-2-user-search:before {
    content: "\e653";
}
.uniphy-2-activity:before {
    content: "\e631";
}
.uniphy-2-leave:before {
    content: "\e632";
}
.uniphy-2-add:before {
    content: "\e633";
}
.uniphy-2-user-add:before {
    content: "\e634";
}
.uniphy-2-calendar:before {
    content: "\e635";
}
.uniphy-2-circle:before {
    content: "\e636";
}
.uniphy-2-notification-off:before {
    content: "\e637";
}
.uniphy-2-notification-on:before {
    content: "\e638";
}
.uniphy-2-trash:before {
    content: "\e639";
}
.uniphy-2-clear:before {
    content: "\e63c";
}
.uniphy-2-camera:before {
    content: "\e63d";
}
.uniphy-2-menu:before {
    content: "\e63e";
}
.uniphy-2-star-off:before {
    content: "\e641";
}
.uniphy-2-star-on:before {
    content: "\e642";
}
.uniphy-2-favorite-off:before {
    content: "\e643";
}
.uniphy-2-poll:before {
    content: "\e645";
}
.uniphy-2-users:before {
    content: "\e646";
}
.uniphy-2-user:before {
    content: "\e647";
}
.uniphy-2-megaphone:before {
    content: "\e648";
}
.uniphy-2-search:before {
    content: "\e64a";
}
.uniphy-2-pencil:before {
    content: "\e64c";
}
.uniphy-2-paperclip:before {
    content: "\e64d";
}
.uniphy-2-gear:before {
    content: "\e64e";
}
.uniphy-2-favorite-on:before {
    content: "\e64f";
}
.uniphy-2-bubble:before {
    content: "\e650";
}
.uniphy-2-share:before {
    content: "\e651";
}
.uniphy-2-like:before {
    content: "\e652";
}