//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  // @media (min-width: @screen-sm-min) {
    // width: @container-sm;
  // }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  -webkit-transform: translateZ(0);
  .container-fixed();
  .transition-property(~"left");
  .transition-duration(.4s);
  .transition-timing-function('ease-out');
  // Uniphy
  max-width: 1190px;
  min-width: 320px;
  left: 0;
  position: relative;
}

.nav-slide-active .container-fluid {
  left: -270px;
  // pointer-events: none;
}

@media (min-width: @screen-md-min) {
  .nav-slide-active .container-fluid {
    left: 0 !important;
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}


// Uniphy
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}