.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;

  // Uniphy
  padding: 2px; // This makes it so the blue focus doesn't appear cut off on the buttons
  p {
    white-space: pre-wrap;
    word-break: break-word;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

.media-heading.media-profile { // Custom Uniphy class to line up with a 48px profile image
  margin-top: 6px;
  margin-bottom: 2px;
}

.media-profile {
  overflow: visible;
  img {
    position: relative;
    top: -12px;
  }
}
.media-profile.media-profile-rise {
  margin-top: -10px;
  margin-bottom: 10px;
}
.media-profile.media-profile-drop {
  padding-top: 10px;
  margin-bottom: -10px;
}

.media-centered {
  margin: 0 auto;
  float: none;
}