//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  &:extend(.clearfix all);

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: @nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        // background-color: @nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: @nav-disabled-link-color;

      &:hover,
      &:focus {
        color: @nav-disabled-link-hover-color;
        text-decoration: none;
        // background-color: transparent;
        cursor: @cursor-disabled;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      // background-color: @nav-link-hover-bg;
      border-color: @link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    .nav-divider();
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  margin-bottom: 0;
  // border-bottom: 1px solid @nav-tabs-border-color;
  text-align: center;
  > li {
    display: inline-block;
    // float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      letter-spacing: .2px;
      margin-right: 2px;
      line-height: @line-height-base;
      color: @text-muted;
      // background-color: @nav-tabs-active-link-hover-bg;
      // background: none;
      // border: 1px solid transparent;
      // border-radius: @border-radius-base @border-radius-base 0 0;
      // &:hover {
        // border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
      // }
      &:hover {
        color:  @nav-tabs-active-link-hover-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-tabs-active-link-hover-color;
        border-bottom: 2px solid @nav-tabs-active-link-hover-color;
        // background-color: @nav-tabs-active-link-hover-bg;
        // background: none;
        // border: 1px solid @nav-tabs-active-link-hover-border-color;
        // border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    .nav-justified();
    .nav-tabs-justified();
  }
}


// Pills
// -------------------------
.nav-pills {
  text-align: center;
  > li {
    // float: left;
    display: inline-block;
    // Links rendered as pills
    > a {
      color: @text-muted;
      border-radius: @nav-pills-border-radius;
    }
    > a:hover {
      color: @brand-warning;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
        border: 1px solid darken(@nav-pills-active-link-hover-bg, 5%);
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: @screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: @border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid @nav-tabs-justified-link-border-color;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border-bottom: 1px solid @nav-tabs-justified-link-border-color;
      border-radius: @border-radius-base @border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  .border-top-radius(0);
}

// Uniphy

// Sidebar (Admin)
.sidebar {
  top: 60px;
  position: fixed;
  width: 200px;
  background: #222;
  height: 100%;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: hidden;
  min-height: 500px; // Keep the text at the bottom
}

.sidebar small { // Copyright
    color: #666666;
    font-family: "Proxima Nova Light";
    position: absolute;
    bottom: 80px;
    padding: 0 20px;
}

// Sidebar Nav (Admin)
.nav-sidebar {
  background-color: #181818;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #bbb;
  line-height: 20px;
  border-left: 4px solid @brand-warning-dark;
}

.nav-sidebar > li > a > i {
    margin-right: 8px;
    font-size: 20px;
    position: relative;
    top: -1px;
    float: left;
}

.nav-sidebar > li a {

    &:hover,
    &:focus {

      background-color: transparent;
      color: #fff;
      border-left: 4px solid @brand-warning-light;

    }

}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  border-left: 4px solid @brand-warning-light;
}

// Slide out nav

.nav-slide {
  right: -260px;
  position: fixed;
  padding: 20px 0;
  top: 0;
  bottom: 0;
  background: #242424;
  width: 260px;
  z-index: @zindex-navbar-fixed + 5;
  // .box-shadow(inset 10px 0px 6px -9px rgba(0,0,0,0.95));
  -webkit-transform: translateZ(0);
  .transition-property(~"right");
  .transition-duration(.4s);
  .transition-timing-function('ease-out');
  a.disguised {
    &:hover {
      color: @link-color;
    }
  }
  ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    li {
      display: inline;
        a {
        display: block;
        border-top: 1px solid #363636;
        padding: 10px;
        color: lighten(@gray-light, 5%);
        &:hover {
          color: @gray-lighter;
        }
        i {
          font-size: 18px;
          float: left;
          position: relative;
          margin-right: 10px;
          top: -1px;
        }
      }
      &:last-child {
        a {
          border-bottom: 1px solid #363636;
        }
      }
    }
    li.active {
      a {
        background: @brand-warning;
        color: #fff;
      }
    }
  }
  img.profile {
    box-shadow: 0 0px 1px rgba(0,0,0,.92), 0 1px 1px rgba(0,0,0,.94), inset 0px 0px 1px rgba(0,0,0,1.6); // Adding .8 to each opacity that is in the theme.less file
    margin-bottom: 10px;
  }
  h3.profile {
    color: #fff;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    pointer-events: none;
    bottom: 0;
    .box-shadow(inset 5px 0 7px 0 rgba(0,0,0,.14));
  }
  .nav-slide-footer {
    bottom: 0;
    position: fixed;
    padding: 15px;
    color: @gray;
    width: 260px;
    text-align: center;
  }
}
.nav-slide-active .nav-slide {
  right: 0;
}
@media (min-width: @screen-md-min) {
  .nav-slide-active .nav-slide {
    right: -260px !important;
  }
}