div.og, a.og {
  display: block;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  .og-data {
      padding: @panel-body-padding;
      border-bottom: 1px solid @panel-inner-border;
  }
  .og-image {
      width: 100%;
      margin: 0;
      overflow: hidden;
      border-bottom: 1px solid @panel-inner-border;
  }
  .og-image img {
      width: 100%;
  }
  .og-title {
    font-size: @font-size-h4;
    margin-bottom: 0;
    color: @text-color;
  }
  .og-sitename {
  }
  .og-description {
    color: @text-color;
    margin-bottom: 0;
  }
  .og-description br {
      display: none;
  }
}

div.og { // Preview area
  border: 1px solid @panel-inner-border;
  border-radius: @border-radius-base;
  overflow: hidden;
  margin-bottom: 10px;
  .og-topper {
    .clearfix();
    padding: 5px 7px 5px 5px;
    background: #fff;
    border-bottom: 1px solid @panel-inner-border;
    border-radius: @border-radius-base @border-radius-base 0 0;
  }
  .og-data {
    background: #fff;
    border-bottom: 0 none;
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }
  .og-description {
    margin-bottom: 0;
  }
}

fieldset[disabled] {
  div.og {
    .og-topper {
      background: @input-bg-disabled;
      .close {
        visibility: hidden;
      }
    }
    .og-data {
      background: @input-bg-disabled;
    }
  }
}

.og-placeholder, .img-placeholder {
  height: 150px;
  background: @gray-lighter url('/assets/images/placeholder.svg') center center no-repeat;
  background-size: 30px 30px;
}
.og-placeholder-md, .img-placeholder-md {
  height: 225px;
}
.og-placeholder-lg, .img-placeholder-lg {
  height: 300px;
}