// Custom Uniphy Classes (non-utility)
.loader {
  text-align: center;
}

// .loader img {
  // position: fixed;
  // top: 50%;
  // width: 42px;
// }

.loader-static img {
  margin-bottom: @line-height-computed;
}

.loader-fixed img {
  position: fixed;
  top: 50%;
}

.loader-absolute img {
  position: absolute;
  top: auto;
  margin-bottom: @form-group-margin-bottom;
  margin-left: -24px;
}

.loader-push {
  padding-top: 60px;
  padding-bottom: 40px;
}

h3.profile {
  margin-bottom: 2px;
}
img.profile {
  box-shadow: 0 0px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.14), inset 0px 0px 1px rgba(0,0,0,.8);
  border: 3px solid #fff;
}
.media-left img.profile {
  margin: 1px;
}

// like an hr
.separator {
  margin-bottom: @line-height-computed / 2;
  padding-bottom: @line-height-computed / 2;
  border: 0;
  border-bottom: 1px solid @hr-border;
}
.separator-blank {
  border-bottom: 1px solid transparent;
}
.separator:last-child {
  border-bottom: 0 none;
  margin: 0;
  padding: 0;
}

.stat {
  display: block;
  text-align: center;
  span {
    .transition(.5s);
    line-height: 1;
    font-size: 18px;
    color: @text-color;
    display: block;
  }
  small {
    .transition(.5s);
    color: @text-muted;
    font-family: "Proxima Nova Light";
    font-size: 12px;
  }
}
.stat:hover {
  span {
    color: @link-color;
  }
  small {
    color: darken(@text-muted, 20%);
  }
}



// Uniphy panel actions
  .action {
    display: block;
    white-space: nowrap;
    margin-bottom: @line-height-computed / 2;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      color: @text-color;
      position: relative;
      top: 2px;
    }
    span {
      font-family: "Proxima Nova SemiBold";
      color: @text-color;
    }
    small {
      display: block;
      color: @text-muted;
    }

  }

  .action:hover {

    i {
      color: @brand-primary;
    }
    span {
      color: @brand-primary;
    }
    small {
      color: @brand-primary;
    }
  }



  .dropdown-menu .action, .dropdown-menu .action a {
    display: block;
  }

  .dropdown-menu .action a i, .dropdown-menu .action a span {
    color: #333;
  }
  .dropdown-menu .action a:hover i, .dropdown-menu .action a:hover span {
    color: #337ab7;
  }

  .admin-wrapper {
    margin-left: 200px + (@grid-gutter-width / 2);
  }
  .admin-wrapper > .container {
    margin: 0;
  }

.big-icon {
  padding: 10px;
  color: #fff;
  width: 70px;
  text-align: center;
  display: block;
  i {
    font-size: 28px;
    display: block;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    color: @brand-warning;
  }
}