<!-- sidebarStats -->
<div class="row no-gutter">
  <a href="/{{id}}/followers" class="stat col-md-4" data-event="followers"><span>{{helpers.followersCount}}</span><small>Followers</small></a>
  <a href="/{{id}}/following" class="stat col-md-4" data-event="following"><span>{{helpers.followingCount}}</span><small>Following</small></a>
  <a href="/{{id}}/groups" class="stat col-md-4" data-event="groupsfollowing"><span>{{helpers.groupsCount}}</span><small>Groups</small></a>
</div>