// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background; @border) {
  color: @color;
  // background-color: @background;
  // border-color: @border;

  background: lighten(@background, 10%); /* Old browsers */
  background: -moz-linear-gradient(top,  lighten(@background, 10%) 0%, @background 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(@background, 10%)), color-stop(100%, @background)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lighten(@background, 10%) 0%, @background 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lighten(@background, 10%) 0%, @background 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lighten(@background, 10%) 0%, @background 100%); /* IE10+ */
  background: linear-gradient(to bottom,  lighten(@background, 10%) 0%, @background 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@background, 10%)', endColorstr='@background',GradientType=0 ); /* IE6-9 */

  border: 1px solid lighten(@border, 5%);
  border-bottom: 1px solid darken(@background, 10%);

  &:focus,
  &.focus {
    color: @color;
    
    background: darken(lighten(@background, 10%), 7.5%); /* Old browsers */
    background: -moz-linear-gradient(top,  darken(lighten(@background, 10%), 7.5%) 0%, darken(@background, 7.5%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darken(lighten(@background, 10%), 7.5%)), color-stop(100%, darken(@background, 7.5%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  darken(lighten(@background, 10%), 7.5%) 0%, darken(@background, 7.5%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  darken(lighten(@background, 10%), 7.5%) 0%, darken(@background, 7.5%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  darken(lighten(@background, 10%), 7.5%) 0%, darken(@background, 7.5%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  darken(lighten(@background, 10%), 7.5%) 0%, darken(@background, 7.5%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken(lighten(@background, 10%), 7.5%)', endColorstr='darken(@background, 7.5%)',GradientType=0 ); /* IE6-9 */

    border: 1px solid lighten(@border, 5%);
    border-bottom: 1px solid darken(@background, 10%);
  }
  &:hover {
    color: @color;
    
    background: darken(lighten(@background, 10%), 5%); /* Old browsers */
    background: -moz-linear-gradient(top,  darken(lighten(@background, 10%), 5%) 0%, darken(@background, 5%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darken(lighten(@background, 10%), 5%)), color-stop(100%, darken(@background, 5%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  darken(lighten(@background, 10%), 5%) 0%, darken(@background, 5%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  darken(lighten(@background, 10%), 5%) 0%, darken(@background, 5%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  darken(lighten(@background, 10%), 5%) 0%, darken(@background, 5%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  darken(lighten(@background, 10%), 5%) 0%, darken(@background, 5%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken(lighten(@background, 10%), 5%)', endColorstr='darken(@background, 5%)',GradientType=0 ); /* IE6-9 */

    border: 1px solid lighten(@border, 5%);
    border-bottom: 1px solid darken(@background, 10%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 17%);
          border-color: darken(@border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}
