<!-- postsPage -->
<div class="row">
  <div class="col-md-12">
    <div data-region="posts-alert-region"></div>
    <div data-region="posts-table-region"></div>
    <div class="loader loader-fixed animated fadeIn" data-loader="initial">
      <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
    </div>
  </div>
</div>