<!-- postsTable -->
<div class="animated fadeIn">
  <div class="panel panel-default">
    <div class="panel-blank-heading">
      <h3 class="panel-title">Posts</h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>