<!-- headlinesCollectionItem -->
<div class="panel panel-default">
    <a class="og" href="{{ogUrl}}" target="_blank">
        <div class="og-type" data-og-type="{{ogType}}">
            <div class="og-image">
                <div class="og-placeholder"></div>
            </div>
            <div class="og-data">
                <h3 class="og-title">{{ogTitle}}</h3>
                <p class="og-sitename text-muted text-uppercase"><small>{{ogSiteName}}</small></p>
                <p class="og-description">{{ogDescription}}</p>
            </div>
        </div>
    </a>
    <div class="panel-footer">
      <button class="btn btn-default btn-sm pull-right" data-event="share" type="button">Share</button>
    </div>
</div>