<!-- createGroup -->
<div class="panel panel-dark animated fadeIn">
  <div class="panel-blank-heading">
    <h3 class="panel-title">Create a Group</h3>
  </div>
  <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <div data-region="create-alert-region"></div>
          <form data-event="create">
            <fieldset>
              <div class="form-group">
                <label for="name" class="sr-only control-label">Name</label>
                <input type="text" data-event="name" class="form-control" id="name" name="name" placeholder="Give the group a name&#133;" autocomplete="off" />
              </div>
              <div data-event="focus" class="collapse">
                <div class="form-group">
                  <label for="description" class="sr-only control-label">Description</label>
                  <textarea id="description" autocomplete="off" class="form-control" name="description" rows="3" placeholder="Describe the group&#133;" data-event="url"></textarea>
                </div>
                <button type="submit" class="btn btn-warning pull-right">Create<span class="xhr">&hellip;</span></button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>