<!-- groupsCollectionItemEdit -->
<div class="animated fadeIn">
  <div class="panel panel-default">
    <form data-event="update">
      <fieldset>
        <div class="panel-heading">
          <div data-region="group-edit-alert-region"></div>
            <div class="form-group">
              <label for="name" class="sr-only control-label">Name</label>
              <input type="text" data-event="name" class="form-control" id="name" name="name" placeholder="Give the group a name&#133;" autocomplete="off" value="{{name}}">
            </div>
            <div class="form-group">
              <label for="description" class="sr-only control-label">Description</label>
              <textarea id="description" autocomplete="off" class="form-control" name="description" rows="3" placeholder="Describe the group&#133;" data-event="url">{{{description}}}</textarea>
            </div>
        </div>
        <div class="panel-image">
          <div class="img-placeholder"></div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-sm btn-warning pull-right">Save<span class="xhr">&hellip;</span></button>
          <button type="button" data-event="cancel" class="btn btn-sm btn-default pull-right">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>