<!-- groupsHeaderRead -->
<div class="panel panel-default animated fadeIn">
  {{#if helpers.app_user_is_group_owner}}
  <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="uniphy-2 uniphy-2-down"></i></a>
      <div class="dropdown-menu dropdown-menu-right pad-all min-width-200" aria-labelledby="dropdownMenu1">
          <a href="#" class="action" data-event="edit">
            <i class="uniphy-2 uniphy-2-pencil"></i>
            <span>Edit</span>
            <small>Edit this Group</small>
          </a>
          <a href="#" class="action" data-event="delete">
            <i class="uniphy-2 uniphy-2-trash"></i>
            <span>Delete</span>
            <small>Delete this Group</small>
          </a>
      </div>
  </div>
  {{/if}}
  <div class="panel-heading">
    <h3 class="panel-title">{{name}}</h3>
    {{#if description}}<p class="text-muted">{{description}}</p>{{/if}}
  </div>
  <div class="panel-image">
    <div class="img-placeholder"></div>
  </div>
  <div class="panel-footer">
    <div class="pull-left" data-region="follow-group-button-region"></div>
  </div>
</div>