<!-- groupsPage -->
<div class="row">
  <div class="col-md-8 col-lg-8">
    <div data-region="groups-alert-region"></div>
    <div data-region="groups-collection-region"></div>
    <div class="loader loader-fixed animated fadeIn" data-loader="initial">
      <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
    </div>
    <div class="loader loader-static collapse" data-loader="lazy">
      <img src="/assets/images/loading-f0f0ee.gif" width="42" height="14" alt="loading indicator" />
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div data-region="groups-create-region"></div>
  </div>
</div>