<!-- groupsCollectionItemButton -->
{{#if helpers.app_user_following}}
<form class="pull-right" data-event="unfollow">
  <fieldset>
      <button class="btn btn-warning btn-sm" data-event="hoverfollowing"><span>Following</span><span class="xhr">…</span></button>
  </fieldset>
</form>
{{else}}
<form class="pull-right" data-event="follow">
  <fieldset>
      <button class="btn btn-default btn-sm"><span>Follow</span><span class="xhr">…</span></button>
  </fieldset>
</form>
{{/if}}