<!-- appAlert -->
<div class="alert alert-{{type}}{{#if dismissable}} alert-dismissible{{/if}} collapse" role="alert" data-event="dismiss">
  {{#if dismissable}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{/if}}
{{text}}
</div>